<div class="admin-sidebar">

  <div class="admin-sidebar__item-group">
    <a routerLink="/" class="admin-sidebar__item">
      <img src="assets/img/icons/admin-back.svg" alt="Go back to shop" class="admin-sidebar__item__icon">
      <div class="admin-sidebar__item__title">
        Go back to shop
      </div>
    </a>
  </div>
  
  <div class="admin-sidebar__item-group">
    <a routerLink="/admin/products" class="admin-sidebar__item">
      <img src="assets/img/icons/admin-cart.svg" alt="Products" class="admin-sidebar__item__icon">
      <div class="admin-sidebar__item__title">
        Products
      </div>
    </a>
    <a routerLink="/admin/categories" class="admin-sidebar__item">
      <img src="assets/img/icons/admin-categories.svg" alt="Categories" class="admin-sidebar__item__icon">
      <div class="admin-sidebar__item__title">
        Categories
      </div>
    </a>
    <a routerLink="/admin/orders" class="admin-sidebar__item">
      <img src="assets/img/icons/admin-orders.svg" alt="Orders" class="admin-sidebar__item__icon">
      <div class="admin-sidebar__item__title">
        Orders
      </div>
    </a>
  </div>

  <div class="admin-sidebar__item-group">
    <div class="admin-sidebar__item">
      <img src="assets/img/icons/admin-logout.svg" alt="Log out" class="admin-sidebar__item__icon">
      <div class="admin-sidebar__item__title">
        Log out
      </div>
    </div>
  </div>

</div>