@import "utility/variables";
@import "utility/mixins/mixins-flex";
@import "utility/mixins/mixins-other";
@import "utility/mixins/mixins-spacing";

.admin-field{
  @include d-flex($ai: flex-start);
  width: 100%;
  margin-bottom: 2.4rem;

  &__label{
    width: 14rem;
    margin-right: 1.6rem;
  }

  &__control-con{
    position: relative;
    width: calc(100% - 15.6rem);
  }

  &__control, &__select{
    height: 3.4rem;
  }

  &__control{
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid $black;

    &.shorter{
      width: 20rem;
      max-width: 100%;
    }
  }

  & textarea{
    height: 6.8rem;
    resize: none;
  }

  &__select{
    width: 60rem;
    max-width: 100%;
    position: relative;
    border-bottom: 1px solid $black;
    cursor: pointer;
    overflow: hidden;

    &.open{
      overflow: initial;

      & .admin-field__select{
        &__toggler{
          transform: translate(-50%, -50%) rotate(180deg);
        }

        &__options{
          border-color: $black;
          height: auto;
          max-height: 34rem;
          overflow: auto;
        }

        &__option{
          padding: .2rem .4rem;
        }
      }
    }

    &__toggler{
      @include abs-center-y;
      @include transition;
      right: 0;
      pointer-events: none;
      z-index: 20;
    }

    &__options{
      @include abs(0, 0);
      @include rect(100%, 3.4rem);
      @include d-flex($dir: column);
      @include transition;
      background-color: $white;
      z-index: 10;
      border: 1px solid transparent;
      @include scrollbar($color: $black, $bg: $white, $w: .6rem, $rounded: false);
    }

    &__option{
      @include rect(100%, 3.4rem);
      min-height: 3.4rem;
      @include transition;

      &.selected{
        order: -1;
      }
    }
  }

  &__validation{
    @include abs(0, calc(100% + 4px));
    font-size: 1.4rem;
    line-height: 1.7rem;
    opacity: 0;
    visibility: hidden;
    @include transition;

    &.open{
      opacity: 1;
      visibility: visible;
    }
  }
}