<form 
  class="admin-form" 
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="admin-form__main">

    <app-text-field
      label="Product name"
      validationMessage="Please provide a product name."
      formControlName="name"
      [control]="form.controls.name"
    ></app-text-field>

    <app-select-field
      label="Category"
      validationMessage="Please provide the product category."
      formControlName="categoryId"
      [control]="form.controls.categoryId"
      [options]="categoriesOptions"
    ></app-select-field>

    <app-numeric-field
      label="Product price"
      validationMessage="Please provide the price."
      formControlName="price"
      [control]="form.controls.price"
      [withDecimals]="true"
    ></app-numeric-field>

    <app-numeric-field
      label="Stock"
      validationMessage="Please provide the stock amount."
      formControlName="stock"
      [control]="form.controls.stock"
    ></app-numeric-field>

    <app-text-field
      label="Specifics"
      formControlName="specifics"
      [control]="form.controls.specifics"
    ></app-text-field>

    <app-text-field
      label="Description"
      formControlName="description"
      [control]="form.controls.description"
      [isLarge]="true"
    ></app-text-field>

  </div>
  <div class="admin-form__image-con">
    <app-file-upload
      path="images/products"
      formControlName="imgUrl"
      [control]="form.controls.imgUrl"
      [imgUrl]="form.controls.imgUrl.value"
    ></app-file-upload>
  </div>

  <div class="admin-form__actions">
    <button type="submit" class="admin-button green">
      Save
    </button>
    <div class="admin-button brown" *ngIf="editMode" (click)="onOpenAccept()">
      Delete
    </div>
    <a routerLink="/admin/categories" class="admin-button black">
      Cancel
    </a>
  </div>
</form>

<app-accept-popup
  *ngIf="editMode"
  msg="Do you want to delete this product?"
  acceptMsg="Yes"
  [open]="acceptPopupOpen"
  (accepted)="onDelete()"
  (declined)="onCloseAccept()"
></app-accept-popup>