<form 
  class="admin-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="admin-form__main">

    <app-text-field
      label="Category name"
      validationMessage="Please provide the category name."
      formControlName="name"
      [control]="form.controls.name"
    ></app-text-field>
    
  </div>
  <div class="admin-form__image-con">
    <app-file-upload
      path="images/categories"
      formControlName="imgUrl"
      [control]="form.controls.imgUrl"
      [imgUrl]="form.controls.imgUrl.value"
    ></app-file-upload>
  </div>

  <div class="admin-form__actions">
    <button type="submit" class="admin-button green">
      Save
    </button>
    <div class="admin-button brown" *ngIf="editMode" (click)="onOpenAccept()">
      Delete
    </div>
    <a routerLink="/admin/categories" class="admin-button black">
      Cancel
    </a>
  </div>
</form>

<app-accept-popup
  *ngIf="editMode"
  msg="Do you want to delete this category?"
  acceptMsg="Yes"
  [open]="acceptPopupOpen"
  (accepted)="onDelete()"
  (declined)="onCloseAccept()"
></app-accept-popup>