<div class="admin-table-con">
  <div class="admin-table-title">
    <h1 class="huge-text">Categories</h1>
    <a routerLink="/admin/categories/new" class="admin-button green">
      Add new
    </a>
  </div>
  <div class="admin-table-filters">

  </div>
  <div class="admin-table">
    <div class="admin-table__row header-row">
      <div class="admin-table__cell">
        ID
      </div>
      <div class="admin-table__cell">
        NAME
      </div>
      <div class="admin-table__cell">
        
      </div>
      <div class="admin-table__cell">
        
      </div>
      <div class="admin-table__cell">
        
      </div>
    </div>
    <div class="admin-table__row" *ngFor="let cat of categories">
      <div class="admin-table__cell">
        {{ cat.id }}
      </div>
      <a routerLink="/admin/categories/edit/{{ cat.id }}" class="admin-table__cell">
        {{ cat.name }}
      </a>
      <div class="admin-table__cell">
        
      </div>
      <div class="admin-table__cell">
        
      </div>
      <div class="admin-table__cell button-cell">
        <a routerLink="/admin/categories/edit/{{ cat.id }}" class="admin-button black">
          Edit
        </a>
        <div class="admin-button brown" (click)="onOpenAccept(cat.id)">
          Delete
        </div>
      </div>
    </div>
    <div class="admin-table__row" *ngIf="!categories.length">
      <div class="admin-table__cell">No categories added yet!</div>
    </div>
  </div>
</div>

<app-accept-popup
  msg="Do you want to delete this category?"
  acceptMsg="Yes"
  [open]="acceptPopupOpen"
  (accepted)="onDelete()"
  (declined)="onCloseAccept()"
></app-accept-popup>