<div class="admin-field">
  <div class="admin-field__label">
    {{ label }}:
  </div>
  <div class="admin-field__control-con">
    
    <div 
      class="admin-field__select"
      [ngClass]="{
        'open': isOpen
      }"
    >
      <div class="admin-field__select__options">

        <div 
          *ngFor="let option of options | keyvalue"
          class="admin-field__select__option"
          (click)="!isOpen ? openSelect() : selectValue($event, option.key)"
          [ngClass]="{
            'selected': option.key === value
          }"
        >
          {{ option.value }}
        </div>

      </div>
      <img src="assets/img/icons/arrow-down.svg" alt="Open" class="admin-field__select__toggler">
    </div>

    <div
      class="admin-field__validation"
      [ngClass]="{
        'open': !control.valid && control.dirty
      }"
    >
      {{ validationMessage }}
    </div>

  </div>
</div>