<div class="file-upload">
  <input 
    #input
    id="file-upload-input"
    type="file"
    (change)="uploadImg($event)"
    accept="image/png, image/jpeg"
  >
  <img
    *ngIf="imgUrl"
    [src]="imgUrl"
    [@fadeInOut]
    class="file-upload__img"
  >
  <label for="file-upload-input" class="file-upload__button admin-button black">
    Upload image
  </label>
  <div 
    *ngIf="uploading"
    [@fadeInOut]
    class="file-upload__progress" >
    <div class="file-upload__progress__bar" [style]="'width: '+ uploadPercentage +'%;'"></div>
  </div>
</div>