@import "utility/variables";
@import "utility/mixins/mixins-flex";
@import "utility/mixins/mixins-other";
@import "utility/mixins/mixins-spacing";

.admin-table{
  &-con{
    @include d-flex($dir: column, $ai: flex-start);
  }

  &-title{
    @include d-flex($ai: center);
    margin-bottom: 3.2rem;

    & h1{
      margin-bottom: 0;
      margin-right: 3.2rem;
    }
  }

  @include d-flex($dir: column);
  width: 100%;

  &__row{
    @include rect(100%, 6rem);
    @include d-flex($ai: center);
    border-bottom: 1px solid $grey-300;

    &.header-row{
      border-color: $black;
    }
  }

  &__cell{
    @include d-flex($ai: center);
    height: 100%;
    flex: 1 0 0;

    &:not(:last-child){
      padding-right: 1.2rem;
    }

    &.button-cell{
      @include d-flex($jc: flex-end);
      @include m-not-last(2.4rem, r);

      & .admin-button{
        width: 10rem;
      }
    }
  }
}